@import "../../styles.scss";

.search-container {
    width: 75%;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); // semi-transparent white background
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    color: $text-color;

    h2 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 20px;
    }

    .search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        input {
            flex: 2;
            padding: 10px 15px;
            border: 2px solid $secondary-color;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.2);
            color: $text-color;
            font-size: 1em;
        }

        button {
            flex: 1;
            margin-left: 10px;
            padding: 10px 20px;
            background-color: $tertiary-color;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: darken($tertiary-color, 10%);
            }
        }
    }

    .search-results {
        list-style-type: none;
        padding-left: 0;

        li {
            padding: 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            transition: background-color 0.3s;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}
