@import '../../styles.scss';

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: $primary-color;
    text-align: center;
    padding: 20px 0;
    color: white;
    margin-bottom: 20px;
    
    h1 {
      font-size: 2.5em;
      margin: 0;
    }
  
    .navigation {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 20px 0;
  
      .nav-link {
        display: flex;
        align-items: center;
        background-color: white;
        color: $primary-color;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 25px;
        transition: background-color 0.3s;
  
        i {
          margin-right: 8px;
        }
  
        &:hover {
          background-color: $secondary-color;
          color: white;
        }
      }
    }
  }
  