<div class="header">
    <h1>{{ pageTitle }}</h1>
    <!-- Navigation links -->
    <div class="navigation">
        <a class="nav-link" routerLink="/dashboard"><i class="fa fa-tachometer"></i>
            Dashboard</a>
        <a class="nav-link" routerLink="/profile"><i class="fa fa-user"></i>
            Profile</a>
        <a class="nav-link" routerLink="/create"><i class="fa fa-pencil"></i>
            Create Post</a>
        <a class="nav-link" routerLink="/comments"><i class="fa fa-comments"></i>
            Comments</a>
        <a class="nav-link" routerLink="/searchresult"><i class="fa fa-search"></i>
            Search</a>
        <a class="nav-link" routerLink="/login"><i class="fa fa-sign-in"></i>
            Logout</a>
    </div>
</div>
