<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <div class="input-group">
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email">
        </div>

        <div class="input-group">
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password">
        </div>

        <div class="button-group">
            <button type="submit">Login</button>
        </div>
    </form>
    <!-- Display error message -->
    <div *ngIf="errorMessage" class="error-message">
        {{errorMessage}}
    </div>
    <div class="register-link">
        Don't have an account? <a routerLink="/register">Sign Up</a>
    </div>
</div>
