@import "../../styles.scss";

form {
    max-width: 500px;
    margin: 5% auto;
    padding: 40px;
    background-color:#e7e7e7; // Using the light background color for better readability
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    color: $text-color; // Using the general text color

    .input-group {
        margin-bottom: 20px;

        label {
            display: block;
            margin-bottom: 10px;
            color: $footer-font-color; // Using footer font color for better contrast
        }

        input {
            width: 100%;
            padding: 10px 15px;
            border: 2px solid $secondary-color;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.95); // Lightened the background for readability
            color: $text-color; // Using the general text color
            transition: border-color 0.3s;

            &:focus {
                outline: none;
                border-color: darken($secondary-color, 10%); // darkening the border color on focus
            }
        }
    }

    .submit-btn {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: $tertiary-color; // Using the tertiary color
        border: none;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: darken($tertiary-color, 10%); // darken button color on hover
        }
    }
}

.register-link {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;

    a {
        color: $tertiary-color; // Using the tertiary color for the link
        text-decoration: none;   // Removing the underline from the link
        transition: color 0.3s;

        &:hover {
            color: darken($tertiary-color, 10%); // Darken link color on hover
        }
    }
}

.error-message {
    color: red;
    margin: 10px 0;
    text-align: center;
}
