<app-header></app-header>

<div class="post-container" *ngIf="post">
    <div class="post-inner">
        <h2>{{ post.title }}</h2>
        <p>{{ post.body }}</p>
        <img *ngIf="post.image_filename"
            [src]="'http://localhost:5000/images/' + post.image_filename"
            alt="{{ post.title }}"
            class="post-image" />
        <div class="post-footer">
            <span>By: {{ post.author_id }}</span>
            <span>Date: {{ post.timestamp }}</span>
        </div>
    </div>
</div>
