<app-header></app-header>

<!-- Posts -->
<div class="posts-section">
    <div *ngFor="let post of posts" class="post-card"
        [routerLink]="['/post', post.id]">
        <div class="post-image">
            <i class="fa fa-image"></i>
        </div>
        <div class="post-content">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
        </div>
        <div class="post-footer">
            <span><i class="fa fa-user"></i> {{ post.author }}</span>
            <span><i class="fa fa-calendar"></i> {{ post.date | date }}</span>
        </div>
    </div>
</div>