@import '../../styles.scss';

.post-card {
    width: 75%;  // Set the width to 75%
    margin: 0 auto;  // Center the post card horizontally
    display: flex;
    border: 1px solid $post-border-color;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    background-color: white;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    }

    .post-image {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;

        i {
            font-size: 50px;
            opacity: 0.5;
        }
    }

    .post-content {
        flex: 3;
        padding: 0 20px;
    }

    .post-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-size: $post-footer-font-size;
        color: $post-footer-color;

        i {
            margin-right: 8px;
        }
    }
}